<body>
    <%- include('../components/header') %>

    <main>
        <div class="main">
            <div class="content">
                <div class="content-main">
                    <%- include(`../paginas/${body.body}`, { body: body }) %>
                </div>
            </div>

            <%- include('../components/buttons', { userType: body.userType }) %>
        </div>
    </main>

    <%- include('../components/footer') %>
</body>