<div>
    <label>Tipo:</label><br>
    <select id="tipo">
        <option value="aluno">Aluno</option>
        <option value="prof.">Prof.</option>
        <option value="adm.">Adm.</option>
    </select>
</div>